* {
    box-sizing: border-box;
}

/* Removig margin and padding */
ul {
    margin:0;
    padding:0;
}

ul li {
    cursor:pointer;
    position:relative;
    padding: 10px 6px 10px 40px;
    background: #E6B8B8;
    color: white;
    font-size: 17px;
    transition: 0.2s;

    /* Making list unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Selecting all odd items to different color */
ul li:nth-child(odd){
    background: #DAA5A5;
}

/* Darker on hover */
ul li:hover{
    background: #C98282;
}

/* Add color and strike out when clicked */
ul li.checked{
    background: #C98282;
    color: White;
    text-decoration: line-through 15% #6C5454;
}

/* Add checkmark when clicked on */
ul li.checked::before{
    content: '';
    position: absolute;
    border-color: #6C5454;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    top: 10px;
    left: 15px;
    transform: rotate(45deg);
    height: 15px;
    width: 8px;
}

/* Add style on close button */
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 16px 10px 16px;
}

.close:hover{
    background-color: #876767;
    color: white;
}

/* Add style on header */
.header{
    background-color: white;
    padding: 30px 40px;
    color:#876767;
    text-align: center;
}

/* Clearing floats after header */
.header:after{
    content: "";
    display: table;
    clear: both;
}

/* Add style to input */
input{
    margin:0;
    border: 1px solid #876767;
    width: 75%;
    padding: 9px;
    float: left;
    font-size: 16px;
}

/* Add style to add button */
.addBtn{
    padding: 10px;
    width: 25%;
    background: #876767;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover{
    background-color: #C98282;
}
